/* start css header */

header{
    width: 100%;
    height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 2;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    top: 0;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.nav .nav-left{
    float: left;
    width: 70%;
    height: 80px;
    align-items: center;
    justify-content: center;
}
.nav .nav-left .nav-left__logo{
    display: none;
}
.nav .nav-left .nav-left__logo a{
    
}
.nav .nav-left .nav-left__logo i{
    display: none;
    margin-top: 20px;
    margin-left: 30px;
    color: #91ad41;
    font-size: 30px;
    
}
.nav .nav-left .nav-items, 
.nav .nav-right .nav-items{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav .nav-left .nav-items .menu,
.nav .nav-left .nav-items .back {
    display: none;
}
.nav .nav-left li,
.nav .nav-right li{
    list-style: none;
    padding-left: 20px;

}
.nav .nav-left li a,
.nav .nav-left li p,
.nav .nav-right li a{
    text-decoration: none;
    color: black;
    display: inline-block;
}
.nav .nav-left .nav-items{
    justify-content: flex-start;
}
.nav .nav-left li a:hover,
.nav .nav-left li p:hover{
    color: #91ad41;
}
.nav .nav-left .nav-sub{
    position: relative;
}
.nav .nav-left .nav-sub i{
    font-size: 10px;
}
.nav .nav-left .nav-sub .nav-sub__subnav{
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 200px;
    background-color: #fff;
    margin-left: -15px;
}
.nav .nav-left .nav-sub:hover>.nav-sub__subnav{
    display: block;
}
.nav .nav-left .nav-sub .nav-sub__subnav a{
    margin-top: 15px;
    padding-bottom: 15px;
}
.nav .nav-right{
    width: 30%;
    height: 80px;
    background-color: #fff;
}
.nav .nav-right .nav-items{
    float: right;
    margin-right: 150px;
}

/* end css header */

/* start css slider */

main{

}
/* Slideshow container */
.slide{
  width:100%;
  margin-top: 80px;
}
.slide img{
    width: 100%;
}
/* end css slider */

/*  start css introduce  */
.introduce{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: auto;
    top: 0;
}
.introduce .introduce__items{
    width: 25%;
    height: 100%;
    text-align: justify;
    font-size: 14px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 30px;
    padding-bottom: 30px;
    box-sizing: border-box;
    color: #fff;
    align-items: center;
}
.introduce .introduce__items h3{
    font-size: 25px;
    height: 65px;
    text-align: center;
}
.introduce .introduce__items p{
   padding-top: 10px;
   padding-bottom: 20px;
}
.introduce .introduce__items .btn{
    box-sizing: border-box;
    border: 1px;
    border-radius: 5px;
    width: 120px;
    height: 45px;
    background-color: #27272F;
    color: #fff;
    text-align: center;
    margin-left: 40px;
    margin-right: 30px; 
}
.introduce .introduce__items .btn:hover{
    background-color: #91ad41;
}
.introduce .introduce__items:hover{
    filter: brightness(60%);
}
.introduce .introduce__items:first-child{
    background-image: url("../img/1.png");
    background-repeat: no-repeat;
    background-color: deepskyblue;
    background-position: right;
    background-size: 160px;
}
.introduce .introduce__items:nth-child(2){
    background-image: url("../img/2.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 160px;
    background-color: #629104;
}
.introduce .introduce__items:nth-child(3){
    background-image: url("../img/3.png");
    background-repeat: no-repeat;
    background-color: burlywood;
    background-position: right;
    background-size: 160px;
}
.introduce .introduce__items:nth-child(4){
    background-image: url("../img/4.png");
    background-repeat: no-repeat;
    background-color: rgb(248, 176, 212);
    background-position: right;
    background-size: 160px;
}
/* end css introduce */

/* start css content */
.content{
    align-items: center;
    text-align: center;
    margin-top: 25px;
    
}
.content h3{
    font-size: 30px;
    text-align: center;
}
.content p{
    margin-top: 15px;
    text-align: center;
}
/* start  first css content */
.content .content-list{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}
.content .content-list .content-items{
    width: 20%;
    align-items: center;
}
.content .content-list .content-items h4{
    margin-top: 15px;
    font-size: 20px;
    
}
.content .content-list .content-items p{
    margin-top: 15px;
    width: 100%;
}
/* end  first css content */
/* start  second css content */
.content .content-list:nth-child(2) .content-items{
    width: 20%;
    box-sizing: border-box;
}

.content .content-list:nth-child(2) .content-items:hover{
    box-shadow: 1px 1px 10px rgb(0 0 0 / 15%);
    opacity: 0.6;
}
.content .content-list:nth-child(2) .content-items img{
    width: 100%;  
}
.content .content-list:nth-child(2) .content-items .content-items__desc{
    background-color: rgb(241, 240, 240);
    margin-top: 10px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.content .content-list:nth-child(2) .content-items .content-items__desc p{
    margin-top: 15px;
    width: 100%;
}
.content .content-list:nth-child(2) .content-items .content-items__desc span{
    color: #91ad41;
    margin-bottom: 15px;
}

/* start css register */
.register{
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    height: 100px;
    background-color: rgba(232,218,199,.6);
    border-top: 1px solid #e8dac7;
    justify-content: center;
}
.register label{
    width: 40%;
    font-size: 30px;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
}
.register .register-input{
    width: 40%;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.register .register-input input{
    height: 45px;
    width: 300px;
    margin: 0;
    padding: 0;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.register .register-input button{
    height: 45px;
    margin: 0;
    padding: 0;
    border: none;
    background-color: rgb(211, 201, 90);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100px;
}
/* start css footer */
footer{
    width: 100%;
}
.container{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact{
    width: 40%;
    margin-top: 30px;
    margin-left: 90px;
    margin-bottom: 50px;
}
.contact p{
    margin-left: 15px;
}
.contact p i{
    margin-right: 10px;
}
.contact .contact__items{
    margin-top: 15px;
}
.footer__items{
    width: 20%;
    margin-top: 0;
}
.footer__items h4{
    margin: 0;padding: 0;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.footer__items p{
    align-items: center;
    text-align: center;
    margin-bottom: 15px;
}
