@media (max-width: 739px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 25px;
    }
    html{
        font-family: 'Quicksand', sans-serif;
    }

    header{
        width: 100%;
        height: auto;
        position: fixed;
        background-color: #fff;
        z-index: 1;
    }
    .nav{
        width: 100%;
        height: auto;
    }
    .nav .nav-left{
        width: 50%;
        left: 0;
        position: absolute;
    }
    .nav .nav-left .nav-items {
        display: none;
        overflow: hidden;
        width: 200%;
        height: 200vh;
        background-color: #91ad41 ;
        left: 0;
        
    }
    .nav .nav-left .nav-left__logo{
        display: flex;
    }
    .nav .nav-left .nav-left__logo a{
        margin-top: 10px;
        
        display: flex;
        justify-content: left;
    }
    .nav .nav-left .nav-left__logo i{
        display: block;
        width: 20%;
        float: left;
    }
    .nav .nav-left a{
        display: flex;
        align-items: center;
        color: #fff;
        
    }
    .nav .nav-left i{
        display: block;
        left: 0;
        color: black;
        margin-right: 15px;
    }
    .nav .nav-left li a,
    .nav .nav-left li p{
        width: 100%;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 25px;
        box-sizing: border-box;
        border-bottom: 1px solid #6c757d;
        
    }
    .nav .nav-left .nav-sub i{
        float: right;
        margin-right: 10px;
        color: black;
    }
    .nav .nav-left .nav-sub .nav-sub__subnav{
        width: 200%;
        height: 200vh;
        background-color: #91ad41;
        top: 0;
        left: 15px;
    }
    .nav .nav-left .nav-sub .nav-sub__subnav a{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 5px;
        line-height: 25px;

    }
    .nav .nav-right{
        width: 0%;
        margin-left: 60px;
    }
    .nav .nav-right .nav-items {
        position: absolute;
        align-items: center;
        justify-content: end;

    }
    .introduce{
        flex-direction: column;
    }
    .introduce .introduce__items{
        width: 100%;
    }
    .introduce .introduce__items .btn{
        margin-left: 70px;
    }
    .content p{
        text-align: justify;
        padding-left: 10%;
        padding-right: 10%;
    }
    .content .content-list{
        flex-wrap: wrap;
    }
    .content .content-list .content-items{
        width: 100%;
        margin-bottom: 25px;
    }
    .content .content-list .content-items h4{
        font-size: 30px;
    }
    .content .content-list .content-items P{
        padding: 0;
    }
    .content .content-list .content-items img{
        padding-left: 15px;
    }
    .content .content-list:nth-child(2) .content-items{
        width: 100%;
        margin-bottom: 25px;
    }
    .content .content-list:nth-child(2) .content-items .content-items__desc {
        height: 110px;  
    }
    .content .content-list:nth-child(2) .content-items .content-items__desc p {
        text-align: center;
    }
    .register{
        display: flex;
        height: 150px;
        width: 100%;
        margin: 0;padding: 0;
        flex-direction: column;
    }
    .register label{
        font-size: 25px;
        width: 100%;
        margin-bottom: 25px;
        
    }
    .register label, 
    .register .register-input{
        width: 420px;
        margin: -17px;
        margin-bottom: 25px;
    }
    .register .register-input{
        display: flex;
        align-items: flex-start;
    }
    .register .register-input .btn{
        margin-bottom: 30px;
        font-size: 18px;

    }
    .register .register-input input{
        width: 170px;
    }
    footer{
        
    }
    .container{
        display: block;
        font-size: 15px;
    }
    .contact, 
    .footer__items{
        display: inline-block;
        width: 80%;
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 50px;
    }
     .contact p{
        display: inline;
    }
     .footer__items h4{
        font-size: 25px;
        text-align: left;
    }
    .footer__items p{
        text-align: left;
    }
}