@media (min-width: 1024px) {
    
}
@media (min-width: 740px) and (max-width: 1023px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 18px;
    }
    html{
        font-family: 'Quicksand', sans-serif;
    }

    #header{
        width: 100%;
        height: 80px;
        position: fixed;
    }
    #nav{
        position: absolute;
        width: 100%;
        height: 80px;
    }
    #nav #nav-left{
        width: 30%;
        left: 0;
        position: absolute;
    }
    #nav #nav-left .nav-items {
        display: none;
        overflow: hidden;
        width: 100%;
        height: 100vh;
        background-color: #91ad41 ;
        left: 0;
        
    }
    #nav #nav-left #logo{
        margin-top: 10px;
        margin-left: 20px;
        display: block;
    }
     #nav #nav-left #hidden{
        display: block;
        width: 20%;
        float: left;
    }
    #nav #nav-left .menu{
        display: flex;
        align-items: center;
        color: #fff;
        
    }
    #nav #nav-left #back{
        display: block;
        left: 0;
        color: black;
        margin-right: 60px;
    }
    #nav #nav-left li a, #nav #nav-left li label {
        width: 100%;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 25px;
        box-sizing: border-box;
        border-bottom: 1px solid #6c757d;
        
    }
    #nav #nav-left #sub i{
        float: right;
        margin-right: 10px;
        color: black;
    }
    #nav #nav-left #sub #subnav{
        width: 100%;
        height: 100vh;
        background-color: #91ad41;
        top: 0;
        left: 15px;
    }
    #nav #nav-left #subnav a{
        margin: 0;
        padding: 0;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 25px;

    }
    #nav #nav-right{
        width: 30%;
        float: left;
        margin-left: 1000px;
    }
    #nav #nav-right .nav-items{
        width: 100%;
        float: right;
        margin-left: 200px;
       
    }
    #introduce{
        display: flex;
        flex-wrap: wrap;
    }
    #introduce .introduce-items{
        width: 50%;
        height: 100%;
    }

    .content .list{
        flex-wrap: wrap;
    }
    .content .list .list-items{
        width: 50%;
        margin-bottom: 25px;
    }

    .content .list .list2-items{
        width: 50%;
        margin-bottom: 25px;
    }
    #register{
        display: block;
        height: 150px;
    }
    #register .register-text, #register .register-input{
        width: 100%;
        margin: 25px;  
    }
    #register .register-input{
        margin-bottom: 30px;
    }

}
@media (max-width: 739px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-size: 25px;
    }
    html{
        font-family: 'Quicksand', sans-serif;
    }

    #header{
        width: 100%;
        height: auto;
        position: fixed;
    }
    #nav{
        position: absolute;
        width: 100%;
        height: auto;
    }
    #nav #nav-left{
        width: 30%;
        left: 0;
        position: absolute;
    }
    #nav #nav-left .nav-items {
        display: none;
        overflow: hidden;
        width: 200%;
        height: 200vh;
        background-color: #91ad41 ;
        left: 0;
        
    }
    #nav #nav-left #logo{
        margin-top: 10px;
        margin-left: 20px;
        display: block;
    }
     #nav #nav-left #hidden{
        display: block;
        width: 20%;
        float: left;
    }
    #nav #nav-left .menu{
        display: flex;
        align-items: center;
        color: #fff;
        
    }
    #nav #nav-left #back{
        display: block;
        left: 0;
        color: black;
        margin-right: 60px;
    }
    #nav #nav-left li a, #nav #nav-left li label {
        width: 100%;
        color: #fff;
        margin-top: 5px;
        margin-bottom: 5px;
        line-height: 25px;
        box-sizing: border-box;
        border-bottom: 1px solid #6c757d;
        
    }
    #nav #nav-left #sub i{
        float: right;
        margin-right: 10px;
        color: black;
    }
    #nav #nav-left #sub #subnav{
        width: 200%;
        height: 200vh;
        background-color: #91ad41;
        top: 0;
        left: 15px;
    }
    #nav #nav-left #subnav a{
        margin: 0;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 5px;
        line-height: 25px;

    }
    #nav #nav-right{
        width: 30%;
        float: left;
        margin-left: 450px;
    }
    #nav #nav-right .nav-items{
        width: 100%;
        float: right;
        margin-left: 200px;
       
    }
    #introduce{
        flex-direction: column;
    }
    #introduce .introduce-items{
        width: 100%;
    }
    .content .list{
        flex-wrap: wrap;
    }
    .content .list .list-items{
        width: 100%;
        margin-bottom: 25px;
    }

    .content .list .list2-items{
        width: 100%;
        margin-bottom: 25px;
    }
    #register{
        display: flex;
        height: 150px;
        width: 100%;
        margin: 0;padding: 0;
        flex-direction: column;
    }
    #register .register-text{
        font-size: 25px;
        width: 100%;
        margin-bottom: 25px;
        
    }
    #register .register-text, #register .register-input{
        width: 420px;
        margin: -17px;
        margin-bottom: 25px;
    }
    #register .register-input{
        display: flex;
        align-items: flex-start;
    }
    #register .register-input .btn{
        margin-bottom: 30px;
        font-size: 18px;

    }
    #register .register-input input{
        width: 170px;
    }
    #footer{
        display: block;
        font-size: 15px;
    }
    #footer .contact, #footer .footer-items{
        display: inline-block;
        width: 80%;
        margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 50px;
    }
    #footer .contact p{
        display: inline;
    }
    #footer .footer-items h4{
        font-size: 25px;
        text-align: left;
    }
    #footer .footer-items p{
        text-align: left;
    }
}